.share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background: linear-gradient(135deg, #C73E3A 0%, #E64843 100%);
  border-radius: 16px;
  margin: 16px;

  &__text {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
  }
}
